.post-square {
  color: white;
  min-width: 220px;
  min-height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  background-color: rgb(34, 31, 39);
  border-radius: 5px;
  padding: 20px;
}
